@model BanroWebApp.Models.DateFinding
@{
    
    Layout = "~/Views/Shared/_Menu.cshtml";
    BanroWebApp.Models.Authenticate auth = null;
    if (Session["userinfo"] != null)
    {
        auth = (BanroWebApp.Models.Authenticate)Session["userinfo"];
    }
    else
    {
        Response.Redirect("~/");
    }
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                General Report <i class="fa fa-hospital-o" style="float:right;"></i>
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
 
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reporting System / General Report
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form method="post">
                                <div data-ng-app="app" ng-controller="CtrlHome">

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                          


                                        </div>
                                        <div class="form-group">
                                            <label>Date filter</label>
                                            <div class="input-group date dp" style="" data-provider="datepicker">
                                                @Html.TextBoxFor(Model => Model.from, new { @Id = "datervm1", placeholder = "From", Class = "form-control" })
                                                @*<input id="dateCmd1" style="" ng-model="dateCmd1" placeholder="From" type="text" name="name" class="form-control" />*@
                                                <div class="input-group-addon">
                                                    <span class="fa fa-th"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group" style="display:none">
                                            <label>Ending Date</label>
                                            <div class="input-group date dp" style="" data-provider="datepicker">
                                                @Html.TextBoxFor(Model => Model.to, new { @Id = "datervm2", placeholder = "To", Class = "form-control" })

                                                <div class="input-group-addon">
                                                    <span class="fa fa-th"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div style="width:100%;text-align:left;">

                                            <button type="button" ng-model="ts" style="display:none;" ng-click="rmvAction()">TESTER</button>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Generate File</button>
                                        </div>
                                    }

                                </div>

        </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            @* <img src="~/Content/img/user2-160x160.jpg" alt="Alternate Text" style="width:260px;height:180px;" />*@
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
<script src="~/banrowebapp/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript">

    $(function() {
        $('.dp').datepicker({
            dateFormat:'m/dd/yyyy'
        })
    });
</script>