
@{
    ViewBag.Title = "ViewPrintableCommand";
}

<div class="panel-body" >
    <div style="text-align:center;">
        <h2 style="text-align:center;">
            <u>{{entreprise}}</u>
        </h2>
        <h6>Filiale de Banro Corporation</h6>
        <h4 style="color:darkred;"><b>BON DE SOINS</b></h4>
        <div style="float:left;position:relative;top:-4em;display:block">
            <span><b>PHOTO DU MALADE</b></span><br />
            <img src="~/images/65.jpg" alt="Alternate Text" style="height:150px;width:130px;" />
        </div>
        
        <h5 style="text-align:center;"><input type="radio" checked name="name" value=" " />CENTRE DE SANTE AKRAM... See list of hospitals in email</h5>
    </div>
    <hr />
    <div>
        <table style="width:100%; ">
            <tr>
                <td style="width: 10%; font-size: 13px;">
                    <b>
                        MOTIF
                    </b>
                </td>
                <td style="width:40%;">

                    <p style="font-size: 10px;border-bottom:1px solid black;">
                        :<b> CRISE D'ENGOISSE ET FORTE FIEVRE</b>
                    </p>



                </td>

                <td style="width: 10%; font-size: 13px;">
                    <b>
                        Service
                    </b>
                </td>
                <td style="width:40%;">

                    <p style="font-size: 10px;border-bottom:1px solid black;">
                        : <b> D'ENGOISSE ET FORTE FIEVRE</b>
                    </p>



                </td>
            </tr>
        </table>
        <h6 style="text-align:center;">Veuillez examiner puis donner le traitement nécessaire à la personnnes dont les détails ci-après:</h6>

    </div>
    <div class="col-lg-6" style="width:100%;">

        <div class="form-group">
            <table style="width:inherit;font-size:11px;width:100%;">
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            N° Mat. Agent
                        </b>

                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : 903983
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Département
                        </b>

                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : VISUAL STUDIO
                    </td>
                </tr>
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            Nom du Malade

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : LAMA HORNEL
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Age

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : 27
                    </td>
                </tr>
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            Identifiant

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : Marié
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            N° Matricule Dép

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : 838383
                    </td>
                </tr>
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            Rep. de Banro

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        :_________
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Nom médecin

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : Jean Marc KAHSALE
                    </td>
                </tr>
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            Approuvé

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : OKAY
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Signature

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : ________
                    </td>
                </tr>
                <tr style="width:40%;">
                    <td style="padding-bottom: 10px;">
                        <b>
                            Date approbation

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : 12/10/2010
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Date Signature

                        </b>
                    </td>
                    <td style="width: auto; padding-bottom: 10px;">
                        : 12/10/2010
                    </td>
                </tr>
            </table>

        </div>


    </div>
    <br /><br /><br />
<div class="panel-body">
    <h6 style="text-align:center;">
        Siège d'Exploitation: concession minière de Namoya, Salamabila, Territoire de Kabambare, province de Maniema

    </h6>
    <h6 style="text-align: center;">
        Siège Social:14, avenue Sergent Moke, Concession Safricas, commune de Ngaliema, Kinshasa, République Démocratique du Congo

    </h6>
    <h6 style="text-align:center;">
        Site Web : http://banro.com
    </h6>
    <h6 style="text-align:center;">
        ID.NAT:01-128-N40958H-RCCM: CD/KIN/RCCM/14-B-5012

    </h6>
</div>
    <div style="border-bottom:1px solid black;"></div>
    <h6 style="text-align:center;">
        Après examenn veuillez détacher puis retourner cette partie du feuillet auprès du département et des Ressources Humaines de Manoya Mining SA.
    </h6>
    <div>
        <table style="width:100%;font-size:11px;">
            <tr>
                <td>
                    N° Mat. Agent :0994944
                </td>
            </tr>
        </table>
    </div>
    <div style="width:100%;">
        <table style="font-size:11px;">
            <tr>
                <td>
                    Résultat &Aacute; Détail du traitement
                </td>
                <td>
                    :..........................................................................................................................................................................................................................................................
                </td>
            </tr>
        </table>
        <p style="font-size:11px;">...........................................................................................................................................................................................................................................................................................................</p>
        <p style="font-size:11px;">......................................................................................................................................................................................................................................................................................................</p>
        <p style="font-size:11px;">.........................................................................................................................................................................................................................................................................................................</p>       
    </div>
    <div class="col-lg-6" style="width:100%;">
        
            <table style="width:100%;font-size:11px;">
                <tr>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Rep. De Banro

                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        :__________________________
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Nom du médecin

                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        : Jean Marc KASHALE
                    </td>

                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Approuvé

                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        :OK
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Signature
                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        : _________________________
                    </td>

                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Date
                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        :12/10/2010
                    </td>
                    <td style="padding-bottom: 10px;">
                        <b>
                            Date
                        </b>
                    </td>
                    <td style="padding-bottom: 10px;width:auto;">
                        : 12/10/2010
                    </td>

                </tr>
            </table>
        
    </div>
    <br /><br /><br />
    <div class="panel-body">
        <h6 style="text-align:center;">
            Siège d'Exploitation: concession minière de Namoya, Salamabila, Territoire de Kabambare, province de Maniema

        </h6>
        <h6 style="text-align: center;">
            Siège Social:14, avenue Sergent Moke, Concession Safricas, commune de Ngaliema, Kinshasa, République Démocratique du Congo

        </h6>
        <h6 style="text-align:center;">
            Site Web : http://banro.com
        </h6>
        <h6 style="text-align:center;">
            ID.NAT:01-128-N40958H-RCCM: CD/KIN/RCCM/14-B-5012

        </h6>
    </div>
    </div>
<input type="button" name="name" class="btn btn-success" id="btnPrint" value="Imprimer Page" ng-click="Printable()" />